<header id="header" class="wrapper">
  <div id="header-inner" class="inner">
    <h1 id="logo-wrap">
      <a href="{{ url_for_lang('') }}" id="logo">H3C</a>
    </h1>
    <nav id="main-nav">
      {{ header_menu('main-nav') }}
    </nav>
    <div id="github-icon-link">
      <a href="{{ config.github }}" class="icon" target="_blank"><i class="fa fa-github"></i></a>
    </div>
    <a id="mobile-nav-toggle">
      <span class="mobile-nav-toggle-bar"></span>
      <span class="mobile-nav-toggle-bar"></span>
      <span class="mobile-nav-toggle-bar"></span>
    </a>
  </div>
</header>
